
.header-link {
  margin: 20px;
  /* font-size: 16px; */
  color: white;
  text-decoration: none; 
}

.topnav {
  background-color: #172A3A;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
  font-size: 18px;
}

.topnav a:hover {
  background-color: rgb(61, 115, 160);
  color: black;
  text-decoration: none;
}



p {
  font-size: 18px;
}

h1,
h2,
h3 {
  color: #EF3E36;
}

ul > li > a {
  color: #C6CCB2;
  text-decoration: none;
}

html {
  background: #172A3A;
}

.image:hover {
  opacity: 0.7;
}

@media (min-width: 575px) {
  .bio {
    width: 550px;
    /* margin-left: auto;
    margin-right: auto; */
  }
}